@import '../colors'; 

$bg-color: $sidebar-text-color;
$degress: 45deg;
$size: 150px;
.photoCard {
    border: 2px solid $bg-color;
    width: $size;
    height: $size;
    margin-bottom: 6em;
    transform: rotate($degress);
    padding: .25em;
    display: flex;
    
    .photoCard-content {
        background-color: $bg-color;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .photoCard-image {
        width: $size;
        height: $size;
        object-fit: cover;
        transform: rotate($degress * -1);
    }
}