@import '_colors'; 

@font-face {
    font-family: "MontserratRegular";
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "MontserratBold";
    src: url(../font/Montserrat-Bold.ttf);
}

.header {
    color: $sidebar-text-color;

    .mainInfo {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        text-align: center;
        padding-top: 6em;

        .name {
            font-family: "MontserratBold";
            font-size: 4em;
            text-transform: uppercase;
            line-height: 1.25;
            letter-spacing: 5px;
            padding: 0 15px;
            margin-bottom: .25em;
        }

        .profession {
            font-family: "MontserratRegular";
            font-size: 1em;
            text-transform: uppercase;
            letter-spacing: 3px;
            padding: 0 15px;
        }

        .separator {
            border: none;
            height: 2px;
            background-color: $sidebar-text-color;
            margin: 4em 0;
            margin-left: 1em;
            width: calc(100% - 1em);
        }
    }
}