$black: #070606;

.main {
    display: flex;
    flex-flow: row wrap;
}

.mainContent {
    flex: 1;
    padding: 4em;
}

.mainContent-title {
    text-transform: uppercase;
    font-family: "MontserratBold";
    text-align: left;
    border-bottom: 2px solid $black;
    font-size: 2em;
    padding-bottom: .5em;
    margin-bottom: 1em;
}